<!DOCTYPE html>
<html>
<head>
    <title>Sommes des Factures</title>
</head>
<body>
    <h1>Sommes des Factures</h1>
    <p>Somme des factures de 8h à 18h : {{ sum_8_18 }}</p>
    <p>Somme des factures de 18h à 23h : {{ sum_18_23 }}</p>
    <p>Somme des factures de 8h à 18h en {{ mois_etudie }}/{{ annee_etudie }} : {{ sum_8_18 }}</p>
    <p>Somme des factures de 18h à 23h en {{ mois_etudie }}/{{ annee_etudie }} : {{ sum_18_23 }}</p>
    <p>Somme des factures de 8h à 18h le {{ jour_etudie }}/{{ mois_etudie }}/{{ annee_etudie }} : {{ sum_8_18 }}</p>
    <p>Somme des factures de 18h à 23h le {{ jour_etudie }}/{{ mois_etudie }}/{{ annee_etudie }} : {{ sum_18_23 }}</p>
</body>
</html>
